
footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 1250px){
    footer {
        position: relative;
        bottom: 0;
    }
}
@media (max-width: 385px) {
    footer {
        font-size: 12px;
    }
}
