
* {
    box-sizing: border-box;
}
body {
    font-family: 'Bree Serif', serif;
    margin: 0;
    width: 100%;
}
header {
    background-color: white;
    padding: 0.2rem 1rem;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    width: 100%;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    padding: 0 1em;
    letter-spacing: 1%;
}
header nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}
header nav ul li a:hover {
    color: #000;
}
header .search-cart {
    position: relative;
}
header .search-cart input[type="text"] {
    padding: 10px 30px;
    border: 0.2px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
    width: 28vw;
}
header .search-cart i {
    position: absolute;
    left: 7px;
    top: 10px;
    color: #ccc;
}
header .stuff i{
    margin: 0 5px;
    color: #ccc;
}
header .stuff i:hover {
    color: #000;
}
header .branding h1 {
    font-family: 'Oi', serif;
    font-size: 3.1em;
    margin: 0;
    letter-spacing: 1px;
}
@media (max-width: 768px) {
    header nav {
        display: none;
    }
    header {
        padding: 0.2rem 0.5rem;
        display: flex;
        justify-content: space-around;

    }
    header .branding h1 {
        margin-right: auto;
        margin-left: 2rem;
    }
    header .container {
    padding: 0;
    }
    header .search-cart input[type="text"] {
        width: 20rem;
    }
}  
@media (max-width: 560px) {
    header .search-cart input[type="text"] {
        width: 15rem;
    }
} 
@media (max-width: 510px) {
    header .search-cart input[type="text"] {
        width: 12rem;
    }
} 